html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}
/* ********************************************** My Stuff ************************************* */

input {
  margin: 5px;
  margin-bottom: 10px;
}

.searchResults {
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 15px;
    padding: 5px;
    margin: 5px;  
}

.treePicture {
  box-shadow: 10px 10px 15px 0px rgba(82, 82, 82, 0.733);
    /* border-style: solid;
    border-width: 1px; */
    object-fit: cover;
    z-index: 1;
    border-radius: 15px;
    position:relative;
    /* animation: move 3s  */
}

.treePicture:hover {
  opacity: .5;
  cursor: pointer;
  z-index: 0;
}

.treeName {
  text-align: center;
  /* border-style: solid;
  border-width: 1px; */
  border-radius: 15px;
  min-height: 50px;
  max-width: 298px;
  margin-top: -354px;
  margin-bottom: 300px;
  z-index: 0;
  position:relative;
  /* backdrop-filter: blur(3px); */
}

.treeName:hover {
  color:rgb(0, 0, 0);
  z-index: 2;
  cursor: pointer;
}

/* ********************************************** Details Page ***************************************** */
@keyframes movePicture {
  from {left: 1000px}
  to {left: 0px}
}
@keyframes moveLike {
  from {left: 1000px}
  to {left: 35px}
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.detailsName {
  position: relative;
  text-align: center;
  grid-column-start: 2;
  max-width:max-content;
}
.detailsTreePicture {
  position: relative;
  animation: movePicture 1s;
  object-fit: cover;
  border-radius: 15px;
  grid-column-start: 2;
  min-width: fit-content;
  box-shadow: 10px 10px 15px 0px rgba(82, 82, 82, 0.733);

}

.details{
  display: grid;
  grid-template-columns: 20px max-content 20px 500px;
  grid-template-rows: auto auto;
  }

.detailsInfo {
  grid-column-start: 4;
  grid-row-start: 2;
  padding-left: 20px;
  font-size: large;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px 0px rgba(82, 82, 82, 0.733);
}

.likeButton {
  position: absolute;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: xx-large;
  z-index: 0;
  bottom: 565px;
  left: 35px;
  /* animation: moveLike 1s;  */
  animation-delay: 2s;
}

.favoriteIcon:hover {
  cursor: pointer;
  animation: flicker .5s ease alternate infinite;
}

.likeButton {
  /* position: absolute; */
  color: rgb(255, 0, 85);
  /* animation: flicker .5s ease alternate infinite; */
}

.shadeIcon {
  color: yellow;
  background-color: black;
  border-radius: 20px;
}

.shadeIcon:hover {
  cursor: help;
}